@import "tailwindcss";

@import url("https://fonts.bunny.net/css?family=just-me-again-down-here:400");

@property --rotate {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

body {
  height: 1200svh;
  margin: 0;
  animation: rotate-wheel 1s linear;
  animation-timeline: scroll(nearest block);
  --cards: 10;
  animation-timing-function: steps(var(--cards));
}

@keyframes rotate-wheel {
  to { --rotate: 1; }
}

.card-wheel {
  --card-width: max(150px, 20vw);
  --card-height: calc(var(--card-width) * 6 / 4);
  --radius: calc(var(--card-width) * var(--cards) / (2 * 3.1416));

  position: fixed;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  top: calc(50% + var(--radius) + var(--card-height) * 2);
  left: 50%;
  transform-origin: center center;
  transform: translateX(-50%) rotate(calc(var(--rotate) * 360deg));
}

.card-wheel > div {
  --i: var(--card-index);
  --offset-radius: circle(var(--radius) at 50% 50%);
  --offset-distance: calc((var(--i) - 1) / var(--cards) * 100%);

  offset-path: var(--offset-radius);
  offset-distance: var(--offset-distance);
  offset-rotate: auto;

  position: absolute;
  width: var(--card-width);
  aspect-ratio: 4/6;
  border-radius: 14px;
  overflow: hidden;
  object-fit: cover;
  transition: 300ms ease;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
